body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #6eaae2; /* Light blue background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 80%; /* Set container width to 80% of the page size */
  max-width: 600px; /* Limit container width to 600px */
  padding: 20px;
  margin: 0 auto; /* Center the container */
  background-color: rgba(200, 230, 255, 0.8); /* Light bluish transparent background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.heading {
  color: #333;
  margin-bottom: 20px; /* Add space below the heading */
}

.city-input {
  margin-bottom: 20px; /* Add space below the input field */
}

.city-input label {
  margin-right: 10px; /* Add space between the label and the input field */
  font-weight: bold; /* Make label text bold */
  font-size: 24px;
}

.city-input input[type="text"] {
  padding: 20px; /* Increase padding for better appearance */
  border: 2px solid #ccc; /* Add a border to the input field */
  border-radius: 10px; /* Rounded corners */
  width: 60%; /* Set input width to 70% of the container */
}

.city-input button {
  padding: 20px; /* Add padding from all sides */
  font-size: 24px;
  background-color: rgba(255, 0, 0, 0.6); /* Red transparent background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition effect on hover */
}

.city-input button:hover {
  background-color: rgba(255, 0, 0, 0.8); /* Darker red transparent background on hover */
}

.weather-buttons {
  margin-bottom: 20px;
}

.weather-buttons button {
  padding: 22px; /* Add padding from all sides */
  margin: 0 15px;
  font-size: 24px;
  background-color: rgba(0, 0, 255, 0.6); /* Blueish transparent background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition effect on hover */
}

.weather-buttons button:hover {
  background-color: rgba(0, 0, 255, 0.8); /* Darker blue transparent background on hover */
}

.weather-info {
  margin-top: 20px;
  color: #333;
}

.weather-info p {
  display: inline-block;
  margin: 0;
  padding: 10px; /* Add padding for better appearance */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 5px; /* Rounded corners */
}
